
::-webkit-scrollbar-track{
    background-color: #eee;
}
::-webkit-scrollbar-thumb{
    background-color:rgb(238, 128, 3) ;
    
}

:root{
    --orange :rgb(238, 128, 3);
}




*:focus{
    outline: none;

}
html{
    scroll-behavior: smooth;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}

/* end  of global values */


.container {
    width: 100%;
}

.container .navbar{
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
    flex-direction: row;
    position: fixed;
    z-index: 100;
    width: 100%;
}
.container .navbar .left .logo{
    width: 100px;
}
.container .navbar .right {
    
    text-align: center;
}
.container .navbar .right ul{
    display: flex;
    width: 320px;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    list-style: none;
}


.container .navbar .right ul li a {
    color: white;
    font-family:"Poppins" ,sans-serif ;
    transition: .3s;
    padding: 5px 10px;
    border-radius: 6px;
}

.container .navbar .right ul li a:hover{
    background-color: var(--orange);
} 

@media (max-width:424px) {
    .container .navbar{
        flex-direction: column;
        padding: 10px;
    }
    .container .navbar .logo{
        padding-bottom: 10px;
    }
    .container .navbar .right ul {
        width: 90%;
    }
    .container .navbar .right ul li a {
        font-size: 12px;
    }
}

@media (min-width:1440px){
    .container .navbar{
        padding-left:10% ;
        padding-right: 10%;
    }

}

/* satrt landing  page */

.container .landing{
    background-image: url(/imgs/landing.jpg);
    background-repeat: no-repeat;
    background-position: center ;
    background-size: 100% ,auto;
    width: 100%;
    height: 500px;
    position: relative;

}
.container .landing .filter{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.534);
}

.container .landing .center{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
    text-align: center;
    width: 550px;
    margin: auto;
    text-align: center;
    padding: 20px;
}


.container .landing .center h1{
    font-family: "Oleo Script Swash Caps", system-ui;
    color: var(--orange);
    text-shadow: 0 0 10px  rgb(0, 0, 0);
    font-size: 35px;
    padding-bottom: 15px;
    width: 500px;
    margin: auto;
    text-align: center;
}

.container .landing .center p{
    color: white;

    font-family: "Oleo Script Swash Caps", system-ui;
    padding-bottom: 20px;
    font-size: 20px;
}

.container .landing .center a{
    color: white;
    background-color: var(--orange);
    font-family: "Oleo Script Swash Caps", system-ui;
    padding: 5px 10px;
    border-radius: 6px;
    font-weight: bold;

}

.container .landing .center a:hover ,.container .landing .center a:active{
  
    background-color: rgb(221, 100, 14);
}
@media (max-width:850px) {
    .container .landing .center h1{
        font-size: 30px;
        
    }
    .container .landing .center p{
        font-size: 15px;
    }
}

@media (max-width:550px) {
    .container .landing .center{
        width: 90%;
    }
    .container .landing .center h1{
        font-size: 30px;
        width: 100%;
    }
    .container .landing .center p{
        font-size: 15px;
        width: 100%;
    }
}

@media (max-width:400px){
    .container .landing{
        background-position: center center;
        background-size: auto , 100%;
    }
}
@media (min-width:1440px){
    .container .landing .center{
        width: 950px;
    }
    .container .landing .center h1{
        font-size: 70px;
        width: 900px;
        text-align: center;
        display: block;
    }
}
/* end of the  landing */



/* start of  about  us  */

.container .about{
    color: #eee;
    background-color: #ffffff;
    height: fit-content;
    padding: 50px 10px;
    

}

.container .about .content{
    display: flex;
    justify-content: space-between;
    padding: 50px 40px;
    width: 100%;
    align-items: center;

}
.container .about .content .left{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 30%;
    gap: 10px;
    border-radius:6px ;
    overflow: hidden;
    transition: 1s;
}



.container .about .left img{
    width: 100%;
    height: 100%;
    border-radius: 6px;
}

.container .about .left:hover{
    transform: scale(1.01 , 1.01);
    box-shadow: 0 0 15px  var(--orange);
}

.container .about .left img:first-child{
    grid-row: 1/3;
}

.container .about .left img:nth-child(2){
    width: 100%;
    height: 100%;
}




.container .about .right{
    width: 70%;
    position: relative;
    
}

.container .about >h1{
    color: #000000;
    font-family: "Oleo Script Swash Caps", system-ui;
    font-size: 5vw;
    width: fit-content;
    margin: auto;
    border-bottom: 2px solid var(--orange);
}
.container .about >h1:hover{
    text-shadow: 0 0 15px var(--orange);
    
}

.container .about .right .text{
    padding-left: 30px;
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
}


.container .about .right .text p{
    color: #000000;
    font-family: "Poppins" ,sans-serif;
    font-size: 1.4vw;
}

.container .about .right .text .p2{
    padding-top: 10px;
}
.container .about .right .text .p1{
    padding-top: 10px;
    font-family: "Oleo Script Swash Caps", system-ui;
}

.container .about .right .text a{
    color: black;
    color: white;
    text-shadow: 0 0 5px black;
    font-family: "Oleo Script Swash Caps", system-ui;
    font-weight: bold;
    font-size: 1.4vw;
    padding: 5px 10px;
    width: fit-content;
    background-color: var(--orange);
    border-radius: 6px;
    margin-top: 10px;
    cursor: nesw-resize;
}


@media (max-width:500px){
    .container .about .content{
        flex-direction: column;
        align-items: center;
        padding-top: 20px;
    }
    .container .about .content .left{
        gap: 5px;
        width: 70%;
    }
    .container .about .right{
        width: 100%;
        padding-top: 15px;
        margin-left: 0;
        text-align: center;

        
    }
    .container .about .right .text{
        padding-left: 0;
    }
    .container .about .right .text a{
        margin: auto;
        margin-top: 5px;
        font-size: 13px;
    }
    .container .about .right .text p{
        font-size: 10px;
        font-weight: bold;
    }
    
}

@media (min-width:1440px){
    .container .about{
        padding-left: 10%;
        padding-right: 10%;
    }
}



/* end about */

/* start of menu*/

.container .menu{
    background-color: #d9d9d9;
    padding: 50px;
    margin-top: -2px;

}
.container .menu >h1{
    color:   #000000;
    font-family: "Oleo Script Swash Caps", system-ui;
    font-size: 5vw;
    width: fit-content;
    margin: auto;
    
}
.container .menu >h1:hover{
    text-shadow: 0 0 15px var(--orange);
}

.container .menu >p{
     color: #000000;
    text-align: center;
    padding: 10px 0 30px 0;
    width: 500px;
    margin: auto;
    font-family: "Poppins" ,sans-serif;
}

.container .menu >hr{
    width: 200px;
    outline: none;
    border-color:var(--orange) ;
    margin: auto;
}

.container .menu .cards{
    padding-top: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin: auto;
    justify-items: center;
    padding-left: 10%;
    padding-right: 10%;
    column-gap: 5px;
    row-gap: 30px;

}
.container .menu .cards .card{
    width: 300px;
    border-radius: 6px;
    overflow: hidden;
    transition: 0.3s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.767);
}
.container .menu .cards .card:hover{
    box-shadow: 0 0  10px var(--orange);
    transform: scale(1.05 , 1.05);
}
.container .menu .cards .card:hover .card-cont i{
    color: var(--orange);
}
.container .menu .cards .card .image{
    width: 100%;
    height:200px;
    background-size: 100% auto;
    background-position: center ;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
}
.container .menu .cards .card:first-child .image{
    background-image: url(/imgs/5889.jpg);
    background-position: center -40px;
}
.container .menu .cards .card:nth-child(2) .image{
    background-image: url(/imgs/10879.jpg);
    background-position: center -30px;
}
.container .menu .cards .card:nth-child(3) .image{
    background-image: url(/imgs/2330.jpg);
    background-position: center -220px;
}
.container .menu .cards .card:last-child .image{
    background-image: url(/imgs/3803.jpg);
}





.container .menu .cards .card .card-cont{
    padding: 20px;
    background-color: white;
    margin-top: -4px;
}
.container .menu .cards .card .card-cont ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 50%;
    padding: 10px 0 5px 0;
}
.container .menu .cards .card .card-cont ul li i{
    color: #aaa;
    
}


.container .menu .cards .card .card-cont .top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}
.container .menu .cards .card .card-cont .top h1{
    font-size: 20px;
    font-family: "Oleo Script Swash Caps", system-ui;
    
}

.container .menu .cards .card .card-cont .top .price{
    color: white;
    background-color: var(--orange);
    font-family: "Poppins" ,sans-serif;
    padding: 5px 10px;
    font-size: 10px;
    border-radius: 7px;
}

.container .menu .cards .card .card-cont .bottom p{
    padding: 30px 0;color: rgb(87, 85, 85);
    font-family: "Poppins" ,sans-serif;
    
}



.container .menu .cards .card .card-cont .bottom a {
    background-color: rgba(252, 152, 1, 0.342);
    padding: 5px 15px;
    color: var(--orange);
    border-radius: 20px;
    transition: .3s;
    font-family: "Poppins" ,sans-serif;
    font-size: 11px;
    font-weight: bold;
}
.container .menu .cards .card .card-cont .bottom a:hover{
    background-color: var(--orange);
    color: white;
}

@media (max-width:610px){
    .container .menu >p{
        width: 90%;
    }
    .container .menu{
        padding: 0px;
    }
}

@media (max-width:374px){
    .container .menu .cards{
        padding: 30px 0px;
        justify-content: center;
    }
    .container .menu .cards .card {
        width: 200px;
    }
    .container .menu .cards .card .image{
        height: 120px;
    }
    .container .menu .cards .card .card-cont .top h1{
        font-size: 15px;
        
    }
}



.container .menu .more{
    background-color: var(--orange);
    color: white;
    padding: 5px 10px;
    border-radius: 6px;
    margin: auto;
    display: block;
    width: fit-content;
    margin-top: 20px;
    font-family: "Oleo Script Swash Caps", system-ui;
}