
::-webkit-scrollbar{
    width: 5px;
    
}
::-webkit-scrollbar-track{
    background-color: #eee;
}
::-webkit-scrollbar-thumb{
    background-color: var(--orange);
    
}

:root{
    --orange :rgb(238, 128, 3);
}




*:focus{
    outline: none;

}
html{
    scroll-behavior: smooth;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}

/* end  of global values */


.container {
    width: 100%;
}

.container .navbar{
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
    flex-direction: row;
    position: fixed;
    z-index: 100;
    width: 100%;
}
.container .navbar .left .logo{
    width: 100px;
}
.container .navbar .right {
    
    text-align: center;
}
.container .navbar .right ul{
    display: flex;
    width: 350px;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    list-style: none;
}


.container .navbar .right ul li a {
    color: white;
    font-family:"Poppins" ,sans-serif ;
    transition: .3s;
    padding: 5px 10px;
    border-radius: 6px;
}

.container .navbar .right ul li a:hover{
    background-color: var(--orange);
} 

@media (max-width:478px) {
    .container .navbar{
        flex-direction: column;
        padding: 10px;
    }
    .container .navbar .logo{
        padding-bottom: 10px;
    }
    .container .navbar .right ul {
        width: 90%;
    }
    .container .navbar .right ul li a {
        font-size: 12px;
    }
}

@media (min-width:1440px){
    .container .navbar{
        padding-left:10% ;
        padding-right: 10%;
    }

}

/* satrt landing  page */

.container .landing{
    background-image: url(/imgs/landing.jpg);
    background-repeat: no-repeat;
    background-position: center ;
    background-size: 100% ,auto;
    width: 100%;
    height: 500px;
    position: relative;

}
.container .landing .filter{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.534);
}

.container .landing .center{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
    text-align: center;
    width: 550px;
    margin: auto;
    text-align: center;
    padding: 20px;
}


.container .landing .center h1{
    font-family: "Oleo Script Swash Caps", system-ui;
    color: white;
    text-shadow: 0 0 10px  rgb(0, 0, 0);
    font-size: 35px;
    padding-bottom: 15px;
    width: 500px;
    margin: auto;
    text-align: center;
}
.container .landing .center h1:hover{
    text-shadow:0 0 15px var(--orange) ;
}

.container .landing .center p{
    color: white;

    font-family: "Poppins" ,sans-serif;
    padding-bottom: 20px;
    font-size: 20px;
}

.container .landing .center a{
    color: white;
    background-color: var(--orange);
    font-family: "Poppins" ,sans-serif;
    padding: 5px 10px;
    border-radius: 6px;
    font-weight: bold;

}

.container .landing .center a:hover ,.container .landing .center a:active{
    background-color: orangered;
    box-shadow: 0 0 10px black;
}
@media (max-width:850px) {
    .container .landing .center h1{
        font-size: 30px;
        
    }
    .container .landing .center p{
        font-size: 15px;
    }
}

@media (max-width:550px) {
    .container .landing .center{
        width: 90%;
    }
    .container .landing .center h1{
        font-size: 30px;
        width: 100%;
    }
    .container .landing .center p{
        font-size: 15px;
        width: 100%;
    }
}

@media (max-width:400px){
    .container .landing{
        background-position: center center;
        background-size: auto , 100%;
    }
    .container .landing a{
        font-size: 12px;
    }
}
@media (min-width:1440px){
    .container .landing .center{
        width: 950px;
    }
    .container .landing .center h1{
        font-size: 70px;
        width: 900px;
        text-align: center;
        display: block;
    }
}
/* end of the  landing */



/* start of  about  us  */

.container .about{
    color: #eee;
    background-color: #ffffff;
    height: fit-content;
    padding: 50px 10px;
    

}

.container .about .content{
    display: flex;
    justify-content: space-between;
    padding: 50px 40px;
    width: 100%;
    align-items: center;

}
.container .about .content .left{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 30%;
    gap: 10px;
    border-radius:6px ;
    overflow: hidden;
    transition: 1s;
}



.container .about .left img{
    width: 100%;
    height: 100%;
    border-radius: 6px;
}

.container .about .left:hover{
    transform: scale(1.01 , 1.01);
    box-shadow: 0 0 15px  var(--orange);
}

.container .about .left img:first-child{
    grid-row: 1/3;
}

.container .about .left img:nth-child(2){
    width: 100%;
    height: 100%;
}




.container .about .right{
    width: 70%;
    position: relative;
    
}

.container .about >h1{
    color: #000000;
    font-family: "Oleo Script Swash Caps", system-ui;
    font-size: 5vw;
    width: fit-content;
    margin: auto;
}

.container .about >hr{
    border-color: var(--orange);
    height: 1px;
    width: 180px;
    margin: auto;
}
.container .about >h1:hover{
    text-shadow: 0 0 15px var(--orange);
    
}

.container .about .right .text{
    padding-left: 30px;
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
}


.container .about .right .text p{
    color: #929292;
    font-family: "Poppins" ,sans-serif;
    font-size: 1.4vw;
}

.container .about .right .text .p2{
    padding-top: 20px;
}



.container .about .right .text a{
    color: black;
    color: rgb(255, 255, 255);
    font-family: "Poppins" ,sans-serif;
    font-size: 1.4vw;
    padding: 10px 30px;
    width: fit-content;
    background-color: var(--orange);
    border-radius: 30px;
    margin-top: 10px;
    
}
.container .about .right .text a:hover{
    background-color: orangered;
}


@media (max-width:500px){
    .container .about .content{
        flex-direction: column;
        align-items: center;
        padding-top: 20px;
    }
    .container .about .content .left{
        gap: 5px;
        width: 70%;
    }
    .container .about .right{
        width: 100%;
        padding-top: 15px;
        margin-left: 0;
        text-align: center;

        
    }
    .container .about .right .text{
        padding-left: 0;
    }
    .container .about .right .text a{
        margin: auto;
        margin-top: 5px;
        font-size: 13px;
    }
    .container .about .right .text p{
        font-size: 10px;
        font-weight: bold;
    }
    
}

@media (min-width:1440px){
    .container .about{
        padding-left: 10%;
        padding-right: 10%;
    }
}

.container .about .right .text .p1{
    padding-top: 0;
    margin-top: 0;
}

/* end about */

/* start of menu*/

.container .menu{
    background-color: #d9d9d9;
    padding: 50px;
    margin-top: -2px;

}
.container .menu >h1{
    color:   #000000;
    font-family: "Oleo Script Swash Caps", system-ui;
    font-size: 5vw;
    width: fit-content;
    margin: auto;
    
}
.container .menu >h1:hover{
    text-shadow: 0 0 15px var(--orange);
}

.container .menu >p{
     color: gray;
    text-align: center;
    padding: 10px 0 30px 0;
    width: 500px;
    margin: auto;
    font-family: "Poppins" ,sans-serif;
}

.container .menu >hr{
    width: 200px;
    outline: none;
    border-color:var(--orange) ;
    margin: auto;
}

.container .menu .cards{
    padding-top: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin: auto;
    justify-items: center;
    padding-left: 10%;
    padding-right: 10%;
    column-gap: 5px;
    row-gap: 30px;

}
.container .menu .cards .card{
    width: 300px;
    border-radius: 6px;
    overflow: hidden;
    transition: 0.3s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.767);
}
.container .menu .cards .card:hover{
    box-shadow: 0 0  10px var(--orange);
    transform: scale(1.05 , 1.05);
}

.container .menu .cards .card:hover .card-cont i{
    color: var(--orange);
}
.container .menu .cards .card .image{
    width: 100%;
    height:200px;
    background-size: 100% auto;
    background-position: center ;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
}
.container .menu .cards .card:first-child .image{
    background-image: url(/imgs/5889.jpg);
    background-position: center -40px;
}
.container .menu .cards .card:nth-child(2) .image{
    background-image: url(/imgs/10879.jpg);
    background-position: center -30px;
}
.container .menu .cards .card:nth-child(3) .image{
    background-image: url(/imgs/2330.jpg);
    background-position: center -220px;
}
.container .menu .cards .card:last-child .image{
    background-image: url(/imgs/3803.jpg);
}





.container .menu .cards .card .card-cont{
    padding: 20px;
    background-color: white;
    margin-top: -4px;
    height: 100%;
}
.container .menu .cards .card .card-cont ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 50%;
    padding: 10px 0 5px 0;
}
.container .menu .cards .card .card-cont ul li i{
    color: #aaa;
    
}


.container .menu .cards .card .card-cont .top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}
.container .menu .cards .card .card-cont .top h1{
    font-size: 20px;
    font-family: "Oleo Script Swash Caps", system-ui;
    
}

.container .menu .cards .card .card-cont .top .price{
    color: white;
    background-color: var(--orange);
    font-family: "Poppins" ,sans-serif;
    padding: 5px 10px;
    font-size: 10px;
    border-radius: 7px;
}

.container .menu .cards .card .card-cont .bottom p{
    padding: 30px 0;color: rgb(87, 85, 85);
    font-family: "Poppins" ,sans-serif;
    
}



.container .menu .cards .card .card-cont .bottom a {
    background-color: rgba(252, 152, 1, 0.342);
    padding: 5px 15px;
    color: var(--orange);
    border-radius: 20px;
    transition: .3s;
    font-family: "Poppins" ,sans-serif;
    font-size: 11px;
    font-weight: bold;
}
.container .menu .cards .card .card-cont .bottom a:hover{
    background-color: var(--orange);
    color: white;
}

@media (max-width:610px){
    .container .menu >p{
        width: 90%;
    }
    .container .menu{
        padding: 30px 0px;
    }
}

@media (max-width:374px){
    .container .menu .cards{
        padding: 30px 0px;
        justify-content: center;
    }
    .container .menu .cards .card {
        width: 200px;
    }
    .container .menu .cards .card .image{
        height: 120px;
    }
    .container .menu .cards .card .card-cont .top h1{
        font-size: 15px;
        
    }
}



.container .menu .more{
    background-color: var(--orange);
    color: white;
    padding: 5px 10px;
    border-radius: 6px;
    margin: auto;
    display: block;
    width: fit-content;
    margin-top: 30px;
   
    font-family: "Poppins",sans-serif;
}
.container .menu .more:hover{
    background-color: orangered;
    box-shadow: 0 0 10px black;
}


@media (min-width:1440px){
    .container .menu{
        padding-left: 10%;
        padding-right: 10%;
    }
}
/* end  of  menu */

/* start of  book */
.container .book {
    background-color: white;
    padding: 50px ;
}
.container .book >h1{
    color: #000000;
    font-family: "Oleo Script Swash Caps", system-ui;
    font-size: 5vw;
    width: fit-content;
    margin: auto;
    
}
.container .book >h1:hover{
    text-shadow: 0 0 15px var(--orange);
    
}


.container .book >p{
    color: gray;
   text-align: center;
   padding: 10px 0 30px 0;
   width: 500px;
   margin: auto;
   font-family: "Poppins" ,sans-serif;
}

.container .book >hr{
   width: 200px;
   outline: none;
   border-color:var(--orange) ;
   margin: auto;
}

.container .book form{
    padding-top: 40px;
    display: flex;
    flex-direction: column;
}

.container .book form input,.container .book textarea{
    margin-bottom: 30px;
    background-color:#eaeaea71 ;
    border: 0px solid #eaeaea;
    padding: 15px 10px ;
    border-radius: 6px;
    font-family: "Poppins" ,sans-serif;
    color: #aaa;
    border: 1px solid transparent;
}


.container .book form .center{
    display: flex;
    justify-content: space-between;
}
.container .book form .center .left ,.container .book form .center .right{
    display: flex;
    flex-direction: column;
    width: 40%;
}
.container .book form .input{
    width: 100%;
    display: flex;
    justify-content: center;
}
.container .book form input:focus ,.container .book form input:hover,.container .book form textarea:focus ,.container .book form textarea:hover{
    border: 1px solid var(--orange);
    box-shadow: 0 0 15px var(--orange);
}
.container .book form .input button{
    background-color: var(--orange);
    border: none;
    color: white;
    font-family: "Poppins" ,sans-serif;
    padding: 15px 40px;
    border-radius: 30px;
}
.container .book form .input button:hover{
    background-color: orangered;
    box-shadow: 0 0 10px black;
}

@media (min-width:1440px){
    .container .book{
        padding-left: 10%;
        padding-right: 10%;
    }
}
@media (max-width:610px){
    .container .book >p{
        width: 90%;
    }
    .container .book{
        padding: 30px 10px;
    }
}


/* end  of  book */

/* start  of analyses */

.container .analyses{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 60px;
    background-image: url(/imgs/13482.jpg);
    background-position: center ;
    background-repeat: no-repeat;
    background-size: 100% auto;
    position: relative;
}
.container .analyses .filter{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.377);
}
.container .analyses .cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    width: 100%;
    justify-items: center;
    z-index: 10;
    gap: 20px;
} 
@keyframes updown{

    from{
        transform: translateY(-20px);
        transform: rotatex(20deg);
        transform-origin: center center;
    }
    to{
        transform: translateY(30px);
     
        
    }
}

.container .analyses .cards .card{
    width: 150px;
    transition: 0.3s;
    padding: 10px 20px;
    border-radius: 6px;
    text-align: center;
    BACKGROUND-COLOR: #95959538;
}







@media (min-width:981px){
    .container .analyses .cards .card{
        animation-name: updown;
        animation-duration: 1s;
        animation-timing-function: ease;

        animation-iteration-count: infinite;
        animation-fill-mode: both;
        animation-direction: alternate-reverse;
    }
    .container .analyses .cards .card:first-child{
        animation-delay: 0;
    }
    .container .analyses .cards .card:nth-child(2){
        animation-delay: 0.25s;
    }
    
    .container .analyses .cards .card:nth-child(3){
        animation-delay: 0.5s;
    }
    .container .analyses .cards .card:nth-child(4){
        animation-delay: 0.75s;
    }
    
}







.container .analyses .cards .card:hover{
    background-color: var(--orange);
}


.container .analyses .cards .card h1{
    font-family:  "Oleo Script Swash Caps", system-ui;
    color: white;
}

.container .analyses .cards .card p{
    padding: 10px 0;
    font-family: "Poppins" ,sans-serif;
    color: white;
    font-size: 10px;
}
.container .analyses .cards .card hr{
    width: 70%;
    margin: auto;
    border-color: var(--orange);
}



@media (max-width:610px){
    .container .analyses{
        padding: 30px 10px;
    }
}
@media (max-width:671px){
    .container .analyses{
        background-size: 700px;
    }
}
@media (max-width:449px){
    .container .analyses{
        background-size: 1000px;
    }
}


@media (min-width:1440px){
    .container .analyses{
        padding-left: 25%;
        padding-right: 25%;
    }
}



/* end  of  analyses  */


/* start of contact */

.container .contact{
    background-color:#131313 ;
    padding: 30px 30px;
}

.container .contact .cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    width: 100%;
    gap: 10px;
    justify-items: center;
}

.container .contact .cards .card{
    width: 100%;
    border-radius: 6px;
    padding: 5px 5px;
}

.container .contact .cards .card:nth-child(1) img{
    width:100px;
    padding-bottom: 30px;
}
.container .contact .cards .card:nth-child(1) p{
    color:#5a5a5a;
    font-family: "Poppins" ,sans-serif
}

.container .contact .cards .card:nth-child(2) h2{
    color: #d9d9d9;
    font-family:  "Oleo Script Swash Caps", system-ui;
    padding-bottom: 20px;
}
.container .contact .cards .card:nth-child(2) p{
    color:#686868;
    font-family: "Poppins" ,sans-serif;
    padding: 10px 0;
    font-size: 12px;
}
.container .contact .cards .card:nth-child(2) p:nth-child(4){
    font-size: 10px;
}


.container .contact .cards .card:nth-child(3) h2{
    color: #d9d9d9;
    font-family:  "Oleo Script Swash Caps", system-ui;
    padding-bottom: 20px;
    justify-self: flex-start;
}

.container .contact .cards .card:nth-child(3) input{
    display: block;
    background-color: #1f1f1f;
    border: none;
    padding: 7px;
    width: 100%;
    font-family: "Poppins" ,sans-serif;
    color: white;
    border-radius: 6px;
    transition: .3s;
    margin-bottom: 30px;
    border: 1px solid transparent;
}
.container .contact .cards .card:nth-child(3) input:hover,.container .contact .cards .card:nth-child(3) input:focus{
    border: 1px solid var(--orange);
}


.container .contact .cards .card:nth-child(3) button{
    border: none;
    background-color: var(--orange);
    color: white;
    width: 100%;
    padding: 10px 0;
    transition: .3s;
}
.container .contact .cards .card:nth-child(3) button:hover{
    background-color: orangered;
}




@media (min-width:1440px){
    .container .contact{
        padding-left: 10%;
        padding-right: 10%;
    }
}


/* end of contact  */

/* start  of  footer */

.container .footer {
    background-color: #313131;
    color: white;
    font-family: "Poppins" , sans-serif;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}
.container .footer .icons {
    width: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container .footer .icons i:hover {
    color: orangered;
    transform: scale(1.3 ,1.3);
}

.container .footer .icons i{
    color: white;
}

@media (min-width:1440px){
    .container .footer{
        padding-left: 10%;
        padding-right: 10%;
        font-size: 15px;
    }
}


@media (max-width:610px){
    .container .footer{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .container .footer .icons{
        padding-top: 20px;
    }
}